<!-- begin::main content -->
<main class="main-content">

  <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-xl-4 col-md-12">
            <div class="card">
              <div class="card-header">تعداد کل سازمان های من</div>
              <div class="card-body text-center">
                <div class="mb-2">
                  <span class="bar-1">2,5,9,6,5,2,4,3,7,5</span>
                </div>
                <div class="font-size-40 font-weight-bold text-primary">1,241</div>
                <p class="m-b-0">
                  <i class="fa fa-caret-up text-primary m-r-5"></i> 23% افزایش در هفته پیش
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-12">
            <div class="card">
              <div class="card-header">تعداد کل دپارتمان های من</div>
              <div class="card-body text-center">
                <div class="mb-2">
                  <span class="bar-3">2,5,9,6,5,2,4,3,7,5</span>
                </div>
                <div class="font-size-40 font-weight-bold text-success">732,520 <span class="font-size-20"></span></div>
                <p class="m-b-0">
                  <i class="fa fa-caret-down text-danger m-r-5"></i> 4 واحد کمتر از هفته پیش
                </p>
              </div>
            </div>
          </div>

        <div class="col-xl-4 col-md-12">
          <div class="card">
            <div class="card-header">تعداد کل کاربران من</div>
            <div class="card-body text-center">
              <div class="mb-2">
                <span class="bar-4">2,5,9,6,5,2,4,3,7,5</span>
              </div>
              <div class="font-size-40 font-weight-bold text-danger">732,520 <span class="font-size-20"></span></div>
              <p class="m-b-0">
                <i class="fa fa-caret-down text-danger m-r-5"></i> 4 واحد کمتر از هفته پیش
              </p>
            </div>
          </div>
        </div>


      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="card-title">وضعیت تیکت</h6>
            <div class="dropdown">
              <a class="btn btn-outline-light btn-sm" href="#" data-toggle="dropdown">
                2019 <i class="ti-angle-down m-l-5"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">2018</a>
                <a href="#" class="dropdown-item">2017</a>
              </div>
            </div>
          </div>
          <div class="text-center mb-3">
            <ul class="list-inline">
              <li class="list-inline-item font-weight-bold font-size-13">
                <i class="fa fa-circle text-primary mr-1"></i> تیکت های در انتظار
              </li>
              <li class="list-inline-item font-weight-bold font-size-13">
                <i class="fa fa-circle text-success mr-1"></i> تیکت های حل شده
              </li>
              <li class="list-inline-item font-weight-bold font-size-13">
                <i class="fa fa-circle text-danger mr-1"></i> تیکت های جدید
              </li>
            </ul>
          </div>
          <canvas id="chart-ticket-status"></canvas>
        </div>
      </div>
    </div>
  </div>

</main>
<!-- end::main content -->
